/*
* @Author: Marte
* @Date:   2017-03-24 15:18:27
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-24 15:19:37
*/
h1{
    color: blue;
    text-decoration: overline;
    text-align: center;
}