/*
* @Author: Marte
* @Date:   2017-03-24 15:22:00
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-24 15:23:05
*/
h1{
    color: #A020F0;
    text-decoration: line-through;
    text-align: center;
}